@import 'https://fonts.googleapis.com/css?family=Ubuntu';

:root {
    --ct: #3681c5;
    --t: #f0b412;
}

* {
    font-family: Ubuntu, sans-serif;
}

body, h2, h3, p {
    margin: 0;
    padding: 0;
}

#logs::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content > div {
    width: 75%;
}

.header {
    display: grid;
    height: 40px;
    border: 1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.title {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title > a {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
}

.title > a > i {
    margin-right: 10px;
}

.title > a:hover {
    opacity: 0.5;
    transition: opacity 0.2s ease;
}

#logs {
    height: calc(100vh - 200px);
    overflow: auto;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.hide {
    display: none !important;
}

#status {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.log {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 8px;
    gap: 5px;
    border-bottom: 1px solid #dee2e6;
}

.log:hover {
    background-color: #d5d6d642;
    transition: background-color 0.5s ease;
}

.ct {
    color: var(--ct);
    font-weight: bold;
}

.t {
    color: var(--t);
    font-weight: bold;
}